.bg-dark {
  background: -webkit-radial-gradient(
    circle at 0% -25%,
    #ff8947 0%,
    #ff8354 0,
    #da2c94 42%,
    #3e13a5 110%
  );
  background: -moz-radial-gradient(
    circle at 0% -25%,
    #ff8947 0%,
    #ff8354 0,
    #da2c94 42%,
    #3e13a5 110%
  );
  background: radial-gradient(
    circle at 0% -25%,
    #ff8947 0%,
    #ff8354 0,
    #da2c94 42%,
    #3e13a5 110%
  );
}
